.git
.gitattributes
.gitignore
.refact
vendor/
node_modules/
.env
storage/logs/*.log
storage/cache/*
storage/backups/*
storage/database.sqlite
storage/uploads/*
public/uploads/*
public/assets/build/*
*.md
